/*syle header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9f4fc;
}

h2, h4 {
    color: #333;
    margin: 0 0 10px;
}

p {
    margin: 5px 0;
    color: #555;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* syle untuk cuaca hari ini */
#current-weather {
    background-color: hsl(59, 100%, 85%);
    color: rgb(255, 247, 160);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#current-weather h2 {
    margin-bottom: 15px;
}

#current-weather p {
    font-size: 1.2em;
}

/* Style untuk ramalan cuaca 7 hari */
#weather-forecast {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.day {
    background-color: #98c3ff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    flex-basis: calc(33.333% - 20px);
    box-sizing: border-box ;
    text-align: center;
}

.day h4 {
    font-size: 1.1em;
    color: #01060b;
}

.day p {
    font-size: 1em;
    color: #555;
}

/* Style responsif untuk tampilan mobile */
@media (max-width: 768px) {
    #weather-forecast {
        flex-direction: column;
    }

    .day {
        flex-basis: 100%;
    }
}
